<div class="container">
  <div class="avatar-container">
    <img ngSrc="assets/avatar.JPG" alt="Avatar" class="avatar" height="1142" width="857">
  </div>

  <div class="info">
    <p>📞 06 08 41 25 98</p>
    <p>✉️ karinateyssere@gmail.com</p>
    <p>📍 26000 Valence</p>
    <p>🎂 21 ans</p>
  </div>

  <div class="formations">
    <h1>Formations</h1>

    <p>🎓 <b> Licence professionnelle développement <br> d'applications web et mobile (SMIN) </b></p>
    <p>📍IUT1 - Grenoble (38)</p>
    <p>2021 - 2022</p>

    <hr class="little-rounded">

    <p>🎓 <b> DUT Informatique </b></p>
    <p>📍IUT - Valence (26)</p>
    <p>2019 - 2021</p>

    <hr class="little-rounded">

    <p>🎓 <b> BAC Sciences et Technologies <br> du Management et de la Gestion </b></p>
    <p>📍Lycée Algoud Laffemas - Valence (26)</p>
    <p>2019</p>
  </div>

  <hr class="rounded">

  <div class="experiences">
    <h1>Experiences</h1>

    <p><b>Développeuse web</b></p>
    <p>📍Abatik - Beaumont-lès-Valence</p>
    <p>Septembre 2022 - Novembre 2022</p>
    <p>Refonte de l'ERP et des sites <br> e-commerce en Symfony 6</p>

    <hr class="little-rounded">

    <p><b>Développeuse application web <br> (alternance)</b></p>
    <p>📍Sodimas - Pont-de-l'Isère</p>
    <p>Septembre 2021 - Août 2022</p>
    <p>
      - Création de deux applications web avec <br> Angular (front) et Symfony (back) pour <br> la gestion de résolution de problèmes <br> technique de la part de clients.
      <br><br>
      - Création d'une API pour l'application <br> ModLine avec Symfony 6.
      <br><br>
      - Création d’un outil bureautique pour <br> la gestion de fichiers Excel en C#
    </p>

    <hr class="little-rounded">

    <p><b>Développeuse application web <br> (stage)</b></p>
    <p>📍@GP - Montélier</p>
    <p>Juin 2021 - Août 2021</p>
    <p>Création d'une application web avec <br> Symfony : création et impression <br> d'étiquettes pour des commandes.</p>
  </div>

  <hr class="rounded">

  <div class="langues">
    <h1>Langues</h1>
    <p>Anglais (niveau B2) </p>
    <p>Italien (niveau A2)</p>
  </div>

  <hr class="rounded">

  <div class="centres-d-interet">
    <h1>Centres d'intérêt</h1>
    <p>Divertissement (film, series, livres), <br> sport (fitness) </p>
  </div>

</div>
