div{
  margin:0;
  width:100%;
  height: calc(100vh - 65px);
  overflow:hidden;
  background: hsla(0, 4%, 5%, 1);
  text-align: center;
  font-family: Montserrat;
  color: hsla(36, 95%, 85%, 1);
}

a{
  text-decoration: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prenom-nom{
  top: 40%;
  font-size:35pt;
}

.titre{
  top: 50%;
  font-size:25pt;
}
