h1{
  text-align:center;
}

h2{
  text-align:center;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1{
    font-size: 35pt;
    padding-top: 5%;
  }
  h2 {
    font-size: 25pt;
    margin-bottom: 2%;
  }
  .flex-container {
    flex-flow: wrap;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1{
    font-size: 25pt;
    padding-top: 10%;
  }
  h2 {
    font-size: 15pt;
    margin-bottom: 4%;
  }
  .flex-container {
    flex-flow: column;
  }
}

a{
  color: hsla(36, 95%, 85%, 1);
  text-decoration: none;
  display: block;
  margin: auto;
}

img{
  width: 100%;
}

.img-cont{
  width: 50%;
  margin: auto;
  justify-content: center;
}

.flex-container {
  display: flex;
  padding: 2% 0% 2% 0%;
}

.flex-child {
  flex: 1;
}

.ng-star-inserted{
  margin-right: 1%;
}
