<h1>Compétences</h1>

<div class="flex-container">
  <div class="flex-child one">
    <h2>Langages de programmation</h2>
    <div class="img-cont">
      <div fxFlex="7%"
           fxFlex.xs="22%"
           fxFlex.sm="12%" *ngFor="let langage of langages">
        <img [src]="langage.src" [alt]="langage.name" [matTooltip]="langage.name" matTooltipPosition="above"/>
      </div>
    </div>
  </div>

  <div class="flex-child two">
    <h2>Frameworks</h2>
    <div class="img-cont">
      <div fxFlex="7%"
           fxFlex.xs="22%"
           fxFlex.sm="12%" *ngFor="let framework of frameworks">
        <img [src]="framework.src" [alt]="framework.name" [matTooltip]="framework.name" matTooltipPosition="above"/>
      </div>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-child one">
    <h2>Logiciels et outils</h2>
    <div class="img-cont">
      <div fxFlex="7%"
           fxFlex.xs="22%"
           fxFlex.sm="12%" *ngFor="let logiciel of logiciels">
        <img [src]="logiciel.src" [alt]="logiciel.name" [matTooltip]="logiciel.name" matTooltipPosition="above"/>
      </div>
    </div>
  </div>

  <div class="flex-child two">
    <h2>Systhemes d'exploitation</h2>
    <div class="img-cont">
      <div fxFlex="7%"
           fxFlex.xs="22%"
           fxFlex.sm="12%" *ngFor="let os of oss">
        <img [src]="os.src" [alt]="os.name" [matTooltip]="os.name" matTooltipPosition="above"/>
      </div>
    </div>
  </div>
</div>

<a mat-icon-button href="#project-cards">
  <mat-icon>keyboard_arrow_down</mat-icon>
</a>

