<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button mat-button (click)="snav.toggle()">CV</button>

      <span class="spacer"></span>
      <button mat-icon-button class="icon" aria-label="icon-button with menu icon" (click)="openDialog('0ms', '0ms')">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
     <!-- <mat-nav-list>

      </mat-nav-list>-->
      <div class="avatar-container">
        <img ngSrc="assets/avatar.JPG" alt="Avatar" class="avatar" height="1142" width="857">
      </div>
    </mat-sidenav>

    <mat-sidenav-content>

      <app-header id="header"></app-header>

      <app-skills id="skills"></app-skills>

      <app-project-cards id="project-cards"></app-project-cards>

      <app-contact id="contact"></app-contact>

      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
